.venv/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.pytest_cache/
.vscode/

storage/buffered_events.json
data/sensor_data.csv

*.before-*
.~lock.*

# Frontend dependencies
node_modules/
dashboard/frontend/node_modules/

# Frontend build output
dist/
dashboard/frontend/dist/
